<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Sleep Tracker </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<div class="tracker-card">
			<div class="tracker-card-left">
				<div class="card-text">
					<p class="tracker-title">
						{{trackerStatus=='inactive'? "Enjoy Your Rest!" : "Sleep Start
						Time"}}
					</p>
					<p *ngIf="trackerStatus=='active'" class="semi-bold time">
						{{startTimeStr}}
					</p>
				</div>
				<button
					(click)="trackerToggle()"
					[ngClass]="trackerStatus=='inactive' ? 'btn lime-green': 'btn red'"
				>
					<span>{{trackerStatus=="inactive"? "Start" : "Stop"}} Tracking</span>
				</button>
			</div>
			<div class="tracker-card-right">
				<ion-icon name="moon"></ion-icon>
			</div>
		</div>
		<div class="sleep-stats-card">
			<div class="sleep-stats-card-left">
				<p>Previous Sleep Stats</p>
			</div>
			<div class="sleep-stats-card-right">
				<button class="btn lime-green" (click)="viewLoggedData()">Check</button>
			</div>
		</div>
	</div>
	<ion-range
			[min]="1"
			[max]="7"
			[value]="4"
			[pin]="true"
			[ticks]="true"
			[snaps]="true"
		></ion-range>
</ion-content>
