.container {
	min-height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color:  #E1E4EC;
}
.tracker-card {
  padding: 1.1rem;
	background-color: #3d766c;
	color: #e1e4ec;
	width: 90%;
  border-radius: .5rem;
  min-height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card-text{
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.icon {
	background-color: red;
  width: 50px;
  height: 50px;
}
.tracker-card-left {
  width: 75%;
}
.tracker-card-right {
  display: flex;
  align-items: center;
}
ion-icon{
  font-size: 48px;
  color: #f3fe39;
}
.sleep-stats-card {
  background-color: white;
  padding: .7rem;
  font-size: .9rem;
  width: 90%;
  border-radius: .5rem;
  color: #3d766c;
  display: flex;
  align-items: center;
}
.sleep-stats-card-left{ 
  width: 70%;
}
.sleep-stats-card-right {
  width: 30%;
}
.time {
  font-size: 1.3rem;
}
.tracker-title {
  font-weight: 300;
}
.sleep-log-container {
  background-color: white;
  padding: .7rem;
  font-size: .7rem;
  width: 90%;
  border-radius: .5rem;
}
.sleep-log-data {
  margin-bottom: 1rem;
}
.sleep-log-data:last-child {
  margin-bottom: 0;
}
.sleep-log-container .summary-string {
  color: #3d766c;
  font-weight: bold;
}
