#container {
	min-height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color:  #E1E4EC;
}
.tracker-card {
  padding: 1.1rem;
	background-color: #3d766c;
	color: #e1e4ec;
	width: 90%;
  border-radius: .5rem;
  min-height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card-text{
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.icon {
	background-color: red;
  width: 50px;
  height: 50px;
}
.tracker-card-left {
  width: 75%;
}
.tracker-card-right {
  display: flex;
  align-items: center;
}
ion-icon{
  font-size: 48px;
  color: #f3fe39;
}
.sleep-stats-card {
  background-color: white;
  padding: 0.9rem;
  font-size: .9rem;
  width: 90%;
  border-radius: .5rem;
  color: #3d766c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sleep-stats-card-left{ 
  width: 70%;
}
.sleep-stats-card-right {
  width: 30%;
}
.time {
  font-size: 1.3rem;
}
.tracker-title {
  font-weight: 300;
}
ion-range::part(tick) {
  background: #a2d2ff;
}

ion-range::part(tick-active) {
  background: #bde0fe;
}

ion-range::part(pin) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #ffafcc;
  color: #fff;

  border-radius: 50%;
  transform: scale(1.01);

  top: -20px;

  min-width: 28px;
  height: 28px;
  transition: transform 120ms ease, background 120ms ease;
}

ion-range::part(pin)::before {
  content: none;
}

ion-range::part(knob) {
  background: #ffc8dd;
}

ion-range::part(bar) {
  background: #a2d2ff;
}

ion-range::part(bar-active) {
  background: #bde0fe;
}