<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Sleep Tracker </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<!-- Sleep tracker that displays the time the user went to sleep -->
		<div class="tracker-card">
			<div class="tracker-card-left">
				<div class="card-text">
					<p class="tracker-title">
						{{trackerStatus=='inactive'? "Enjoy Your Rest!" : "Sleep Start
						Time"}}
					</p>
					<p *ngIf="trackerStatus=='active'" class="semi-bold time">
						{{startTimeStr}}
					</p>
				</div>
				<button
					(click)="trackerToggle()"
					[ngClass]="trackerStatus=='inactive' ? 'btn lime-green': 'btn red'"
				>
					<span>{{trackerStatus=="inactive"? "Start" : "Stop"}} Tracking</span>
				</button>
			</div>
			<div class="tracker-card-right">
				<ion-icon name="moon"></ion-icon>
			</div>
		</div>

		<!-- Allows the user to view the logged sleep data -->
		<div class="sleep-stats-card">
			<div class="sleep-stats-card-left">
				<p>Sleep Log</p>
			</div>
			<div class="sleep-stats-card-right">
				<button
					class="btn lime-green"
					(click)="displaySleepLog = !displaySleepLog"
				>
					<span>{{displaySleepLog==false? "Check" : "Close"}}</span>
				</button>
			</div>
		</div>

		<!-- Displays the logged sleep data -->
		<div
			class="sleep-log-container"
			*ngIf="displaySleepLog && loggedTimes.length > 0"
		>
			<div class="sleep-log-data" *ngFor="let sleepSession of loggedTimes">
				<div class="date-string">{{sleepSession.dateString()}}</div>
				<div class="summary-string bold">{{sleepSession.summaryString()}}</div>
			</div>
		</div>

		<!-- Select component to rate the sleepiness of the user -->
		<app-select></app-select>
	</div>

	<!-- Select component for the users sleepiness -->
</ion-content>
